<form [formGroup] = "formGroup" (ngSubmit) = "onSummit(formGroup)">
 <div>
   <input type = "text" formControlName = "firstname" placeholder = 'First Name'>
 </div>
 <label style="color:red" *ngIf="formGroup.get('firstname').invalid && 
      formGroup.get('lastName').touched &&
      formGroup.get('firstName').errors['required']">Required.
  </label>
  
<div><input type = "text" formControlName= "lastname" placeholder = 'Last Name'>
</div>
<label style="color: blueviolet" *ngIf="formGroup.get('lastname').invalid && 
      formGroup.get('lastName').touched &&
      formGroup.get('firstName').errors['required']">min is 3.
  </label>
<div>
  <input type = "text" formControlName = "email" placeholder = 'E-Mail'>
</div>
<label style="color :cadetblue" 
*ngIf= "formGroup.get('email').invalid &&
formGroup.get('email').touched &&
formGroup.get('email').errors['email']">e-mail is invalid.
</label>
<div>
  <input type = "number" min = 0 max = 99 formControlName = "age" placeholder = 'Age'>
</div>

<button>submit</button>
</form>
